body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-nav {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #f4f4f4;

}

.intro-nav {
position: absolute;
width: 50%;
line-height: 12px;
padding: 10px 40px;
vertical-align: baseline;
font-size: 18px;
}

.menu {
position: absolute;
width: 50%;
right: 20px;
padding-top: 15px;
margin-top: 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    float: right;
    font-weight: 600;
}

.menu ul li{
    width: 120px;
}

.highlight-text {
    background-color: #f0ff00;
}

.intro-banner {
    position: absolute;
    width: 100%;
    height: 550px;
    display: flex;
    background-color: #f4f4f4;
}

.intro-text {
    position: absolute;
    left: 200px;
    top: 160px;
    width: 500px;
    font-size: 50px;
    font-weight: 400;
}
.banner {
    position: absolute;
    right: 40px;
}
.banner img {
    height: 600px;
    width: 100%;
    margin-top: 30px;
}

.content {
    position: relative;
    height: 1200px;
    display: flex;
    flex-direction: column;

}
.intro-wrapper {
    position: absolute;
    top: 700px;
    padding-bottom: 40px;
    
}

.bg {
    background-color: #f0ff00;
    height: 100px;
    width: 750px;
    position: relative;
    top: 10px;
    padding-left: 0;
}
.itsme {
      display: flex; 
      position: relative;
      height: 100px;
}
.itsme p{
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 300;
    position: absolute;
    left: 80px;
    top: -75px; 
}

.intro-para {
    padding: 30px 330px 0;
    line-height: 28px;
}

.keywords {
    padding: 10px 330px 0;
    line-height: 28px;
    font-size: 26px;
    font-weight: 350;
    letter-spacing: 0.9px;
    line-height: 46px;
}

.see-full {
    margin-left: 330px;
    margin-top: 30px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    background-color: transparent;
    border-width: 1.5px;
    border-style: dashed;
    border-color: black;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.right-col {
   position: absolute;
   top: 1200px;
   right: 40px;
}

.skills{
    position: relative;
    top: 1700px;
    height: 600px;
    background-color: white;
}
.bgskill {
    background-color: #f4f4f4;
    width: 600px;
    height: 600px;
    position: absolute;
    top: -200px;
    left: 150px;
    padding: 50px 120px;
}
.skillText {
    line-height: 28px;
    width: 600px;
}

.yelBar {
    background-color: #f0ff00;
    position: absolute;
    top: -100px;
    left: 920px;
    height: 650px;
    width: 90px;
}

.clientWrap {
    height: 300px;
    width: 100%;
    position: relative;
    top: 1850px;
}


.clientTitle {
    position: absolute;
    top: 0px;
    height: 600px;
    width: 100%;
    display: block;
}

.clientTitle p{
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 300;
    position: absolute;
    left: 80px;
    top: -156px;
}

.bg2{
    background-color: #f0ff00;
    height: 100px;
    position: absolute;
    width: 600px;
}


.clientListWrap {
    align-items: center;
    width: 100%;
    height: 500px;
}


.clientList {
    position: absolute;
    top: 48px;
    left: 15%;
    background-color: black;
    width: 70%;
    padding: 0 60px;
    height: 400px;
    text-align: center;
}


.clientList p{
    color: #f4f4f4;
    padding-top: 40px;
    line-height: 28px;
}
.logo {
    padding-top: 60px;
}
.logo a img{
    height: 80px;
    max-width: 100%;
    padding: 0 30px;
}